<?xml version="1.0"?>
<!--
/**
 * Copyright Wagento Creative LLC ©, All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Wishlist\CustomerData\Wishlist" type="Wagento\Subscription\CustomerData\Wishlist"/>
    <preference for="Magento\Catalog\Block\Product\View" type="Wagento\Subscription\Block\Frontend\Product\View"/>
</config>