<?xml version="1.0"?>
<!--
/**
 * Copyright Wagento Creative LLC ©, All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="wagento_subscription_checkout_cart_product_add_after"
                  instance="Wagento\Subscription\Observer\UpdatePrice"/>
    </event>
    <event name="catalog_product_load_after">
        <observer name="wagento_subscription_checkout_cart_product_load_after"
                  instance="Wagento\Subscription\Observer\SubAdditionalOption"/>
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="wagento_subscription_order_save_after"
                  instance="Wagento\Subscription\Observer\AddSubscriptionDetails"/>
    </event>
</config>